<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources">
</head>
<body>
<nav th:insert="fragments/navbar :: nav_fragment"></nav>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Customer list</h2>
            <p>
                <a th:href="@{/customer/view/addCustomerForm}" class="btn btn-success" >Add Customer form</a>
            </p>
        </div>

        <div th:if="${message}" th:text="${message}" th:class="${'alert' + alertClass}"></div>

        <div class="card-body">
            <div th:if="${customerDtoList.isEmpty()}">
                No Customers listed.
            </div>
            <div th:unless="${customerDtoList.isEmpty()}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Customer id</th>
                        <th>Customer email</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <br/>
                    <tbody>
                    <tr th:each="customerDto : ${customerDtoList}">
                        <td>
                            <span th:text="${customerDto.customerId}"></span>
                        </td>
                        <td>
                            <span th:text="${customerDto.email}"></span>
                        </td>

                    <td>
                        <a href="#" class="btn btn-info" th:href="@{/customer/view/find/{id} (id=${customerDto.customerId})}" >Details</a>
                    </td>
                     </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card-footer"></div>
    </div>

</div>


<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>