<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources">
</head>
<body>
<nav th:insert="fragments/navbar :: nav_fragment"></nav>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Customer list</h2>
            <p>
                <a th:href="@{/addCustomer}" class="btn btn-success" >Add Customer form</a>
            </p>
        </div>
        <div class="card-body">h</div>
        <div class="card-footer">h</div>
    </div>

</div>


<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>