<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/headerResources :: header_resources">
</head>
<body>
<nav th:insert="fragments/navbar :: nav_fragment"></nav>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Customer details</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <p>Customer ID: <span th:text="${customerDto.customerId}"></span></p>
                <p>Customer Email: <span th:text="${customerDto.email}"></span></p>
                <p>Reg date: <span th:text="${customerDto.regDate}"></span></p>
                <p>Status: <span th:text="${customerDto.isActive()}"></span></p>
            </div>
            <div class="row">
                <p>Customer details ID: <span th:text="${customerDto.customerDetailsDto.detailsId}"></span></p>
                <p>Street: <span th:text="${customerDto.customerDetailsDto.street}"></span></p>
                <p>Zip code: <span th:text="${customerDto.customerDetailsDto.zipCode}"></span></p>
                <p>City: <span th:text="${customerDto.customerDetailsDto.city}"></span></p>
            </div>
            <div class="row">
                <p>Home phone: <span th:text="${customerDto.customerDetailsDto.homePhone}"></span></p>
                <p>Cell phone: <span th:text="${customerDto.customerDetailsDto.cellPhone}"></span></p>
            </div>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-danger">Back</a>
        </div>
    </div>
</div>



<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>